<form [formGroup]="resetForm" (ngSubmit)="forgetPassword()" class="form form-login">
  <div class="form-group">
    <label for="firstPassword">New Password</label>
    <input
      [class.is-invalid]="!firstPasswordValid"
      [class.is-valid]="firstPasswordValid"
      class="form-control"
      formControlName="firstPassword"
      id="firstPassword"
      type="password"
    >
    <ul class="invalid-feedback" *ngIf="!firstPasswordValid">
      <li *ngIf="firstPassword.errors.minlength">Password must be at least {{minLength}} characters long.</li>
      <li *ngIf="firstPassword.errors.required">Password is required.</li>
    </ul>
  </div>
  <div class="form-group">
    <label for="secondPassword">Repeat Password</label>
    <input
      [class.is-invalid]="firstPasswordValid && !secondPasswordValid"
      [class.is-valid]="firstPasswordValid && secondPasswordValid"
      class="form-control"
      formControlName="secondPassword"
      id="secondPassword"
      name="second-password"
      type="password"
    >
    <ul class="invalid-feedback" *ngIf="firstPasswordValid && !secondPasswordValid">
      <li>Passwords are not the same.</li>
    </ul>
  </div>
  <input class="btn btn-primary" [disabled]="resetForm.invalid" type="submit" value="Update password">
</form>

