<section *ngIf="comments">
  <h2 class="my-4">💬 Liste des commentaires</h2>
  <hr>
  <div class="border-top shadow my-3 p-3" *ngFor="let comment of comments, let index = index">
    <div class="d-flex justify-content-between">
      <div>
        <span class="font-italic">Publié le <strong>{{comment.date | date}}</strong> par <strong>{{comment.user.username}}</strong></span>
      </div>
      <div>
        <span *ngIf="!comment.score;  else elseBlock"></span>
        <ng-template #elseBlock>
          <ngb-rating title="note: {{comment.score}}/5" [readonly]="true" style="font-size: 20px" [max]="5" [rate]="comment.score"></ngb-rating>
        </ng-template>
      </div>
    </div>
    <div class="d-flex justify-content-between">
      <div class="col-10">
        <span>{{comment.comment}}</span>
      </div>
      <div>
        <div class="d-flex flex-column">
          <div><span style="cursor: pointer">⬆️</span></div>
          <span class="text-center">{{comment.upvote}}</span>
          <div><span style="cursor: pointer">⬇️</span></div>
        </div>
      </div>
    </div>
  </div>
</section>
