<form #myform="ngForm" (ngSubmit)="checkToken(myform)" class="form form-login">
  <div class="form-group">
    <label>
      <span class="sr-only">Token</span>
      <input name="email" class="form-control" id="token-value" type="text" placeholder="Token" ngModel required>
    </label>
  </div>
  <input class="btn btn-primary" type="submit" value="Check token">
</form>
