<nav class="font-weight-bold navbar navbar-expand-lg navbar-light bg-primary">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/accueil" routerLinkActive="active">Accueil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/vehicle-list" routerLinkActive="active">Véhicules</a>
      </li>
    </ul>
    <ul class="navbar-nav m-auto">
      <li class="nav-item">
        <img class="rounded-circle" src="https://gitlab.com/uploads/-/system/project/avatar/22460686/angular-logo.jpg?width=40" alt="Logo">
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li *ngIf="!global.isLogged" class="nav-item">
        <a class="nav-link" routerLink="/login" routerLinkActive="active">Se connecter</a>
      </li>
      <li *ngIf="global.isLogged" class="nav-item">
        <a class="nav-link" routerLink="/profile" routerLinkActive="active">Profil</a>
      </li>
      <li *ngIf="global.isLogged" class="nav-item">
        <a class="nav-link" routerLink="/logout" routerLinkActive="active">Se déconnecter</a>
      </li>
    </ul>
  </div>
</nav>
