<div *ngIf="vehicles">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Marque</th>
      <th scope="col">Modèle</th>
      <th scope="col">Puissance</th>
      <th scope="col">Note</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let vehicle of vehicles, let index = index">
      <td>{{vehicle.brand}}</td>
      <td>{{vehicle.model}}</td>
      <td>{{vehicle.power}} ch</td>
      <td>
        <span *ngIf="!vehicle.score;  else elseBlock">Non noté</span>
        <ng-template #elseBlock>{{vehicle.score}}/5</ng-template>
      </td>
      <td>
        <div class="d-flex justify-content-around">
          <a *ngIf="!disabledActions.includes('show')" [routerLink]="'/vehicle-detail/'+vehicle.id">🔝</a>
          <a *ngIf="!disabledActions.includes('follow')" (click)="addVehicleFollowed(vehicle.id)" style="cursor: pointer" title="Ajouter ce véhicule à ma liste">➕</a>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
