<div *ngIf="vehicleDetail" class="d-flex justify-content-between">
  <h1 class="mt-3">🚗 {{vehicleDetail.brand}} {{vehicleDetail.model}} 🚗</h1>
  <ngb-rating *ngIf="vehicleDetail.score" title="Note du véhicule {{vehicleDetail.score}}/5" [readonly]="true" style="font-size: 30px" [max]="5" [rate]="vehicleDetail.score"></ngb-rating>
</div>
<section *ngIf="vehicleDetail">
  <hr>
  <h2 class="sr-only">Images du véhicule</h2>
  <div class="row">
    <div class="col-4" *ngFor="let item of vehicleDetail.pictures; let index = index;">
      <div class="d-flex flex-column">
        <a title="Voir l'image" target="_blank" href="{{item}}" style="cursor: zoom-in">
          <img class="img-fluid rounded" alt="Image de {{vehicleDetail.brand}} - {{vehicleDetail.model}}, n°{{index}}" [src]=item>
        </a>
        <span class="text-center mt-2">Image n°{{index + 1}}</span>
      </div>
    </div>
  </div>
</section>
<section class="mt-3" *ngIf="vehicleDetail">
  <h2>📝 Histoire</h2>
  <hr>
  <p class="font-weight-bold" style="font-size: 20px;">Avec une puissance de {{vehicleDetail.power}} chevaux, la {{vehicleDetail.model}} produite par le constructeur {{vehicleDetail.brand}}
    fut un réel bijoux de technologie pour son époque. <br/>
    Ce véhicule <span *ngIf="!vehicleDetail.score;  else elseBlock">ne possède actuellement pas de note sur notre site </span>
    <ng-template #elseBlock>possède actuelement un score de {{vehicleDetail.score}} sur notre site.</ng-template>
  </p>
</section>
<app-comment [vehicleDetail]="vehicleDetailObservable"></app-comment>
<app-suggested [vehicleDetail]="vehicleDetailObservable"></app-suggested>
