<form [formGroup]="loginForm" (ngSubmit)="login()" class="form form-login px-4 py-3">
  <div class="form-group">
    <label class="sr-only" for="register-email">Email</label>
    <input
      [class.is-invalid]="!email.valid"
      [class.is-valid]="email.valid"
      name="email"
      class="form-control"
      id="register-email"
      type="email"
      placeholder="Email"
      formControlName="email"
      required
    >
    <ul class="invalid-feedback" *ngIf="!email.valid">
      <li *ngIf="email.errors.required">L'e-mail est obligatoire.</li>
      <li *ngIf="email.errors.email">L'e-mail est invalide.</li>
    </ul>
  </div>
  <div class="form-group">
    <label class="sr-only" for="register-password">Password</label>
    <input
      [class.is-invalid]="!password.valid"
      [class.is-valid]="password.valid"
      name="password"
      class="form-control"
      id="register-password"
      type="password"
      placeholder="Password"
      formControlName="password"
      required
    >
    <ul class="invalid-feedback" *ngIf="!password.valid">
      <li *ngIf="password.errors.required">Le mot de passe est obligatoire.</li>
    </ul>
    <div>
      <small><u><a class="text-dark " [routerLink]="['/forget-password']">forget password ?</a></u></small>
    </div>
  </div>
  <input [disabled]="!loginForm.valid" class="btn btn-primary" type="submit" value="Login">
</form>
