<section class="mt-3">
  <h2>🔍 Recherche de véhicules</h2>
  <hr>
  <form [formGroup]="searchForm" class="my-2">
    <div class="row">
      <div class="col">
        <label for="brand">Marque</label>
        <select
          class="form-control"
          formControlName="brand"
          id="brand"
          name="brand"
        >
          <option [value]="brand.name" *ngFor="let brand of brands">{{brand.name}}</option>
        </select>
      </div>
      <div class="col">
        <label for="model">Modèle</label>
        <select
          class="form-control"
          formControlName="model"
          id="model"
          name="model"
        >
          <option [value]="model.name" *ngFor="let model of models">{{model.name}}</option>
        </select>
      </div>
      <div class="col">
        <label for="puissanceMax">Puissance Max</label>
        <input
          class="form-control"
          formControlName="power"
          id="puissanceMax"
          type="number"
        >
      </div>
    </div>
    <div class="mt-2 row justify-content-between">
      <div class="col">
        <button [disabled]="!searchForm.dirty" (click)="resetSearch()" class="btn btn-primary">Réinitialiser la recherche</button>
      </div>
      <div class="col-4">
        <div class="d-flex justify-content-end align-items-center">
          <span>Note Minimum :</span>
          <ngb-rating [(rate)]="currentRate" [max]="5" formControlName="score" style="font-size: 25px"></ngb-rating>
        </div>
      </div>
    </div>
  </form>
  <app-search-result [vehicles]="vehicleResult"></app-search-result>
  <ngb-pagination class="d-flex justify-content-center" [collectionSize]="70" (pageChange)="searchVehicles()" aria-label="Pagination des vehicules"></ngb-pagination>
</section>
