<form #myform="ngForm" (ngSubmit)="email(myform)" class="form form-login">
  <div class="form-group">
    <label>
      <span class="sr-only">Email</span>
      <input name="email" class="form-control" id="register-email" type="email" placeholder="Email" ngModel required>
    </label>
  </div>
  <input class="btn btn-primary" type="submit" value="Send token">
</form>
