<section class="mt-3" *ngIf="vehiclesForwarded">
  <h2>💛 Véhicules sélectionnés par la communauté</h2>
  <hr>
  <ngb-carousel>
    <ng-template *ngFor="let item of vehiclesForwarded; let index = index;" ngbSlide>
      <div class="picsum-img-wrapper">
        <a [routerLink]="['/vehicle-detail']" title="Voir le véhicule">
          <img [src]="item.pictures[0]" class="w-100" alt="Random first slide">
        </a>
      </div>
      <div class="carousel-caption">
        <span class="badge badge-pill badge-light px-3 py-2"><span class="mr-2">🚘</span>{{item.brand}} - {{item.model}}<span class="ml-2">🚘</span></span>
      </div>
    </ng-template>
  </ngb-carousel>
</section>
<app-vehicle-search></app-vehicle-search>
